@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Pragati+Narrow");
@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

* { box-sizing: border-box; }

body {
  margin:0;

  // Force hardware acceleration
  -webkit-transform: translate3d(0, 0, 0);
}

.overlay {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.25);

  &:empty:after {
    content: "Track information currently unavailable";
    font: 26px "Pragati Narrow";
    color: #fff;
    text-align: center;
    flex: 1 0 0;
  }
}

.player {
  flex: 1 0 0;

  // Force height of the player so we can expand the metadata container to make
  // room for animations.
  height: 138px;

  &.coming_soon .new-track-indicator {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

// Align 2nd players to the right
.player:nth-child(2n) {
  text-align: right;

  .metadata,
  .player-info {
    flex-direction: row-reverse;
  }

  .metadata .new-track-indicator {
    left: auto;
    right: 0;

    &:after {
      left: auto;
      right: 38px;
    }
  }
}

.player-info {
  display: inline-flex;
  margin-top: 10px;
  padding: 0 6px;
  text-transform: uppercase;
  font: 16px "Pragati Narrow";
  border-radius: 3px;
  color: #ecf0f1;
  background: #2c3e50;

  >div {
    position: relative;
  }

  .bpm-current {
    margin: 0 4px;
  }

  .bpm-current:after {
    content: ' BPM';
    color: darken(#bdc3c7, 10%);
  }

  .bpm-details {
    .bpm-pitch-sign {
      display: inline-block;
      width: 14px;
      text-align: center;
      font: 12px Roboto;
      color: #e74c3c;
    }

    &:before { content: '[' }
    &:after  { content: ']' }

    &:before,
    &:after {
      color: #bdc3c7;
      padding: 0 3px;
    }
  }

  %status {
    padding-left: 16px;
    margin: 0 4px;
    text-align: left;

    &:before {
      content: '';
      display: block;
      position: absolute;
      margin-top: -4px;
      top: 50%;
      left: 4px;
      height: 8px;
      width: 8px;
      border-radius: 4px;
    }
  }

  .play-state {
    @extend %status;

    // Set min width for spamming on the cue button
    min-width: 55px;

    &.cued:before {
      background: #f39c12;
    }

    &.cuing:before {
      background: #e74c3c;
    }

    &.playing:before {
      background: #2ecc71;
    }

    &.paused:before {
      background: #1abc9c;
    }

    &.looping:before {
      background: #d35400;
    }

    &.empty:before {
      background: #95a5a6;
    }

    &.loading:before {
      background: #3498db;
    }

    &.searching:before {
      background: #9b59b6;
    }

    &.ended:before {
      background: #c0392b;
    }
  }

  .on-air {
    @extend %status;

    &.true:before {
      background: #e74c3c;
    }

    &.false:before {
      background: #ecf0f1;
    }
  }

  .synced {
    @extend %status;

    &.false:before {
      background: #3498db;
    }

    &.true:before {
      background: #ecf0f1;
    }
  }
}

.metadata-animate-wrapper {
  height: 300px;
  margin-top: -200px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.metadata-changed-enter-active,
.metadata-changed-leave-active {
  transition: -webkit-transform 800ms ease-in-out,
              opacity           800ms ease-in-out;
}

.metadata-changed-leave-active {
  -webkit-transform: translateY(-100%);
  opacity: 0;
}

.metadata-changed-enter-active {
  -webkit-transform: translateY(-100%)
}

.metadata {
  height: 120px;
  display: flex;
  position: relative;
  padding-top: 10px;
  top: 190px
}

.metadata .new-track-indicator {
  position: absolute;
  top: -46px;
  padding: 0 10px;
  font: 16px "Roboto Condensed";
  font-weight: bold;
  line-height: 28px;
  background: #3498db;
  color: #ecf0f1;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transform: translateY(-30px);
  opacity: 0;

  transition: -webkit-transform 800ms ease-in-out,
              opacity           800ms ease-in-out;

  &:before {
    content: '\f058';
    margin-right: 6px;
    display: inline-block;
    font: 16px "FontAwesome";
    text-align: center;
  }

  &:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-top-color: #3498db;
    top: 28px;
    left: 38px;
  }
}

.artwork {
  border-radius: 5px;
  height: 100px;
  width: 100px;
  overflow: hidden;

  img {
    height: 100%;
  }

  &.blank {
    background: rgba(38, 51, 64, 0.85);

    &:after {
      content: 'Artwork Missing';
      font: 21px Abel;
      line-height: 20px;
      text-align: center;
      width: 100%;
      margin: 30px 0;
      display: block;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.details {
  padding: 2px 0;
  vertical-align: top;
  font-family: Roboto;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;

  > div {
    padding: 0 10px;
  }

  .title, .artist {
    font-size: 22px;
    line-height: 28px;
  }

  %empty-field {
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    font-size: 16px;
  }

  .album:empty:after {
    @extend %empty-field;
    content: 'Single release';
  }

  .label:empty:after {
    @extend %empty-field;
    content: 'Unsigned Track';
  }

  .catalog-num:not(:empty) {
    padding-left: 6px;

    &:before { content: '⌈'; }
    &:after  { content: '⌋'; }
  }
}
